.card-whole{
    width: 100vh;
    height: fit-content;
    border:3px blue solid;

}
.card-row{
    display: flex;
    justify-content: space-between;
}
.card-image{
    height: 33rem;
    width:50rem;

}

img{
    width: 100%;
    height: 100%;
}